<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Codepage="1252" Id="cc8b936c-8dfe-4ee0-ae9d-a5f7df9f0bad" Language="1033" Manufacturer="Cryptable" Name="Key Management Web Extension" UpgradeCode="2d93783f-3a86-45ac-b6a3-f164003c1555" Version="0.5.0">
        <Package Comments="Web Extension which allows basic Windows Cryptographic Key Management" Compressed="yes" Description="Key Management Web Extension" Id="*" InstallScope="perMachine" InstallerVersion="300" Keywords="Installer,Web,Extension" Platform="x64" />
        <MediaTemplate EmbedCab="yes" />

        
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFiles64Folder">
                <Directory Id="ManufacturerFolder" Name="!(bind.property.Manufacturer)">
                    <Directory Id="InstallFolder" Name="!(bind.property.ProductName)" />
                </Directory>
            </Directory>
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ManufacturerMenuFolder" Name="!(bind.property.Manufacturer)">
                    <Directory Id="MenuFolder" Name="!(bind.property.ProductName)" />
                </Directory>
            </Directory>
        </Directory>

        
        <DirectoryRef Id="InstallFolder">
            <Component Guid="6c83422a-a154-4053-aeb0-972dc6b5eeff" Id="CMP_ksmgmnt" Win64="yes">
                <File Id="FILE_MyProgramDir_ksmgmntEXE" KeyPath="yes" Source="ksmgmnt.exe" />              
            </Component>
            <Component Guid="dd379c5a-53b6-4ea3-baa2-01be0eea0ccf" Id="CMP_org_cryptable_pki_keymgmnt_json" Win64="yes">
                <File Id="FILE_MyProgramDir_org_cryptable_pki_keymgmntJSON" KeyPath="yes" Source="org.cryptable.pki.keymgmnt.json" />
                
                <RegistryValue Action="write" Id="myRegistryValueForHKLM" Key="SOFTWARE\Mozilla\NativeMessagingHosts\org.cryptable.pki.keymgmnt" Root="HKLM" Type="string" Value="[#FILE_MyProgramDir_org_cryptable_pki_keymgmntJSON]" />
            </Component>            
        </DirectoryRef>

        
        <DirectoryRef Id="MenuFolder">
            <Component Guid="93b4acf0-1aaa-461e-99e3-380423a408ad" Id="CMP_UninstallShortcut" Win64="yes">

                <Shortcut Arguments="/x [ProductCode]" Description="Uninstall Key Management Web Extension" Id="UninstallShortcut" Name="Uninstall Key Management Web Extension" Target="[System64Folder]msiexec.exe" />

                <RemoveFolder Directory="ManufacturerMenuFolder" Id="RemoveManufacturerMenuFolder" On="uninstall" />
                <RemoveFolder Id="RemoveMenuFolder" On="uninstall" />

                <RegistryValue Key="Software\Cryptable\Key Management Web Extension" KeyPath="yes" Name="installed" Root="HKCU" Type="integer" Value="1" />
            </Component>
        </DirectoryRef>

        
        <Feature Id="ProductFeature" Level="1" Title="Main Product">
          <ComponentRef Id="CMP_ksmgmnt" />
          <ComponentRef Id="CMP_org_cryptable_pki_keymgmnt_json" />
          <ComponentRef Id="CMP_UninstallShortcut" />
        </Feature>        

        <WixVariable Id="WixUILicenseRtf" Value="cryptableLicense.rtf" />
        

        <CustomAction ExeCommand="--config" Execute="deferred" FileKey="FILE_MyProgramDir_ksmgmntEXE" Id="configEXE_CA" Impersonate="no" Return="asyncNoWait" />

        <InstallExecuteSequence>
            <Custom Action="configEXE_CA" Before="InstallFinalize" />
        </InstallExecuteSequence>

    </Product>
</Wix>