name: Barbarian build

on:
  push:
    branches: [ develop ]

jobs:
  build-native-exe:
    name: "Build native messaging"
    runs-on: windows-2016
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python v3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Upgrade pip
      run: py -m pip install --upgrade pip
    - name: setup development
      run: py 1-setup-dev-conan.py
    - name: build the project
      run: py 2-build-conan.py

  
  build-ff-ext:
    name: "Build firefox extension"
    needs: build-native-exe
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install web-ext Firefox
      run: sudo npm --global install web-ext
    - name: "web-ext lint"
      run: |
        cd extensions/firefox/extension
        web-ext lint -v -s . 
    - name: "web-ext build"
      run: |
        cd extensions/firefox/extension
        web-ext build -v -s . --overwrite-dest
